body{
	overflow-x: hidden;
	overflow-y: auto;
}

body,html{
	background:blanchedalmond;
	width: 100%;
	height: 100%;
}

#center{
	height: 100px;
	text-align:center;
}

::-webkit-scrollbar{
	width: 20px;
	height: 1px;
}

::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px gray;
	background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 5px gray;
	border-radius: 10px;
	background: white;
}