/*Fonts*/
@font-face {
	font-family: 'Cascadia Code';
	src: url('fonts/CascadiaCode.ttf');
}


/*Keyframes*/


/*Tags*/
 * {
	font-family: "Cascadia Code";
	color: antiquewhite;

}

body {
	background: linear-gradient(to bottom, rgba(0, 83, 159, 1), rgba(0, 83, 159, 0.8), rgba(0, 83, 159, 1));
	overflow-x: hidden;
	overflow-y: auto;
}

body, html {
	width: 100%;
	height: 100%;
}

a {
	text-decoration: none;
	outline: none;
}

ul {
	list-style: none;
}

li {
	margin-bottom: 2%;
}


/*Id*/
#logo {
	display: fixed;
	margin-top: 20px;
	margin-left: 20px;
}


/*Classes*/
.mid {
	text-align: center;
	margin: 0 auto;
}
.left_mid { margin-left: 25%; }
.right_mid { margin-right: 25%; }

.shine {
	padding: 10px;
	display: table;
	text-shadow: 0 0 30px wheat,0 0 50px wheat;
	transition: 0.8s;
}
.shine:hover { text-shadow: 0 0 5px wheat,0 0 10px wheat; }

.hover-a {
	padding: 5px;
	border-radius: 5px;
	transition: 1.2s;
	color: wheat;
}
.hover-a:hover {
	border-radius: 20px 0px 20px 0px;
	color: gray;
	background: rgba(255, 255, 255, 0.4);
}

.pointer:hover { cursor: pointer; }


/*pseudo-elements*/
::-webkit-scrollbar {
	width: 20px;
	height: 1px;
}

::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
	box-shadow: inset 0 0 8px gray;
}

::-webkit-scrollbar-thumb {
	background: linear-gradient(to bottom, wheat, white);
}

::-webkit-scrollbar-track {
	background: black;
}